<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>786399803673-9vne57hnpo51gn203ah22eafag8nvtuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786399803673-9vne57hnpo51gn203ah22eafag8nvtuh</string>
	<key>API_KEY</key>
	<string>AIzaSyC1hOJhSZ6NlEhYp3hBKDdgftXYv5ESsnE</string>
	<key>GCM_SENDER_ID</key>
	<string>786399803673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sbna.evv</string>
	<key>PROJECT_ID</key>
	<string>evvios-22a8f</string>
	<key>STORAGE_BUCKET</key>
	<string>evvios-22a8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786399803673:ios:82c86be4871aded8</string>
	<key>DATABASE_URL</key>
	<string>https://evvios-22a8f.firebaseio.com</string>
</dict>
</plist>