page-cgviewappointment {
    .img{
        
        width: 100px;
       height: 100px;
        border-radius: 50%;
        
}
.toolbar-title-ios {
    margin-left: 0px;
}
.toolbar-ios ion-title{
    padding: 0;
}
.button-md{
    padding: 0;
    margin-right: 5px;
}
h6{
    margin: 5px;
    margin-bottom: 0;
}
[padding] h6:first-child {
    margin-top:0;
  }
  .label-ios {
    margin:0;
}
ion-icon::before {
   
    font-size: 22px;  
}
.button-clear-ios {
    padding: 5px;
}
}

// .buttonCss {
//     .title{
//       text-align: center;
//     }
//         button.alert-button:nth-child(1){
//           background-color:  #008CBA; 
//           border: none;
//           color: white;
//           padding: 8px 32px;
//           text-align: left;
//           text-decoration: none;
//           display: inline-block;
//           font-size: 16px;
//           margin: 4px 2px;
//           cursor: pointer;
//         }
      
//         button.alert-button:nth-child(2){
//           background-color: #f44336;
//           border: none;
//           color: white;
//           padding: 8px 13px;
//           text-align: left;
//           text-decoration: none;
//           display: inline-block;
//           font-size: 16px;
//           margin: 4px 23px;
//           cursor: pointer;
//         }
//       }
    
     
    
    
  
   