<ion-header text-center>

  <ion-navbar color="primary">
    <ion-title style="padding-right: 50px">Review Visit</ion-title>
  </ion-navbar>

</ion-header>



<ion-content>
  <div *ngIf="reviewdetail!=null">
    <ion-item text-center no-lines>
      <ion-grid>
        <ion-row>
          <ion-col offset-6>
            <div class="circle" style="margin-left: -28px">
              <div class="letter">{{reviewdetail.agencyname}}</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <h1>{{reviewdetail.agencyname}}</h1>
      <p>{{reviewdetail.agencyno}}</p>
    </ion-item>
    <ion-item no-lines style="background-color: #F5F5F5">
      <ion-item no-lines style="background-color: #F5F5F5">
        <ion-avatar item-start *ngIf="reviewdetail.clientPhoto!=null;">
          <img class="img" [src]="_DomSanitizer.bypassSecurityTrustUrl(reviewdetail.clientPhoto)" >
          <!-- {{i.clientPhoto}} -->
        </ion-avatar>
        <ion-avatar item-start *ngIf="reviewdetail.clientPhoto==null&&reviewdetail.isMale==true;">
          <img class="img" src="assets/imgs/male.png">
          <!-- {{i.clientPhoto}} -->
        </ion-avatar>
        <ion-avatar item-start *ngIf="reviewdetail.clientPhoto==null&&reviewdetail.isMale!=true;">
          <img class="img" src="assets/imgs/female.png">
          <!-- {{i.clientPhoto}} -->
        </ion-avatar>
        <p>RECIPIENT OF CARE</p>
        <h2>{{reviewdetail.clientName|uppercase}}</h2>
      </ion-item>
      <ion-item no-lines style="background-color: #F5F5F5">
        <ion-avatar item-start>
          <img class="img" src="assets/imgs/male.png">
        </ion-avatar>
        <p>PROVIDED BY</p>
        <h2>{{global.name|uppercase}}</h2>
      </ion-item>

    </ion-item>
    <ion-grid>
      <ion-row text-center>
        <ion-col col-6 style="border: 1px solid gray">
          <ion-label style="color:grey">DATE OF SERVICE</ion-label>
          <ion-label> {{reviewdetail.date|date:'MMMM d,yyyy '}}</ion-label>
        </ion-col>

        <ion-col col-6 style="border: 1px solid gray">
          <ion-label style="color:grey">TOTAL TIME</ion-label>
          <ion-label>{{reviewdetail.duration}} Min</ion-label>
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col col-6 style="border: 1px solid gray">
          <ion-label style="color:grey" *ngIf="reviewdetail.jobTaskdet != null && reviewdetail.jobTaskdet[0].jobName != null">SERVICE TYPE </ion-label>
          <ion-label>{{reviewdetail.jobTaskdet[0].jobName}}</ion-label>
        </ion-col>
        <ion-col col-6 style="border: 1px solid gray">
          <ion-label style="color:grey">RATIO </ion-label>
          <ion-label>1:{{reviewdetail.rserviceratio}}</ion-label>

        </ion-col>
      </ion-row>
    </ion-grid>

    <h5 style="padding:10px;padding-top: 15px;background-color: #F5F5F5;margin: 0">ACTIVITIES</h5>
    <div *ngFor="let i of reviewdetail.jobTaskdet">
      <ion-row align-items-center *ngIf="i.isCompleted">
        <ion-col col-2>
          <ion-icon style="font-weight: 850;font-size: 2rem;color:#4CAF50" name="checkmark"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <ion-label style="margin: 0">{{i.taskName}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row align-items-center *ngIf="!i.isCompleted">
          <ion-col col-2>
            <ion-icon style="font-weight: 850;font-size: 2rem;color:red" name="close"></ion-icon>
          </ion-col>
          <ion-col col-10>
            <ion-label style="margin: 0">{{i.taskName}}</ion-label>
          </ion-col>
        </ion-row>
    </div>
    <!-- <ion-item>
            <ion-icon name="md-checkmark" item-start></ion-icon> 
          
            <ion-label>Grooming</ion-label>
              
            </ion-item> -->



    <h5 style="padding:10px;padding-top: 15px;background-color: #F5F5F5;margin: 0">NOTES</h5>

    <ion-textarea [(ngModel)]="reviewdetail.notes" style="pointer-events: none"></ion-textarea>

    <h5 style="padding:10px;padding-top: 15px;background-color: #F5F5F5;margin: 0">TIME IN</h5>

    <ion-grid style="padding: 0">
      <ion-row>
        <h4 style="margin: 10px">{{reviewdetail.tcstdt| date :'h:mm a'}}</h4>
      </ion-row>
      <ion-row>
        <!-- <p style="margin-bottom:10px;margin-top: 5px;"><i>{{reviewdetail.street1}} {{reviewdetail.street2}} {{reviewdetail.state}} {{reviewdetail.zipCode}}</i></p> -->
      </ion-row>
      <ion-row >
        <!-- <div *ngIf="reviewdetail.isLocdetIntime">
          <ion-icon small name="checkmark-circle" style="color:#4CAF50;float:left;font-size:14px;" icon-start>&nbsp;&nbsp;LOCATION VERIFIED BY GPS</ion-icon>
        </div> -->
        <ion-item no-lines *ngIf="reviewdetail.isLocdetIntime">
          <div *ngIf="reviewdetail.inTimeMap!=null">
            <!-- <img class="img" [src]="reviewdetail.inTimeMap"> -->
            <img class="img" [src]="_DomSanitizer.bypassSecurityTrustUrl(reviewdetail.inTimeMap)" style=" display: block;
            width: 100%;
            height: 120px;">
          </div>

          <h2>
            <ion-icon small name="checkmark-circle" style="color:#4CAF50;float:left;font-size:14px;" icon-start>&nbsp;&nbsp;LOCATION VERIFIED BY GPS</ion-icon>
          </h2>
        </ion-item>
        <div *ngIf="!reviewdetail.isLocdetIntime">
          <ion-icon small name="close-circle" style="color:red;float:left;font-size:14px;" icon-start>&nbsp;&nbsp;LOCATION COULD NOT BE VERIFIED BY GPS</ion-icon>
        </div>
      </ion-row>
    </ion-grid>
    <h5 style="padding:10px;padding-top: 15px;background-color: #F5F5F5;margin: 0">TIME OUT</h5>
    <ion-grid style="padding: 0">
      <ion-row>
        <h4 style="margin: 10px;">{{reviewdetail.tceddt| date :'h:mm a'}}</h4>
      </ion-row>
      <ion-row>
        <!-- <p style="margin-bottom:10px;margin-top: 5px;"><i>{{reviewdetail.street1}} {{reviewdetail.street2}} {{reviewdetail.state}} {{reviewdetail.zipCode}}</i></p> -->
      </ion-row>
      <ion-row >
        <!-- <div *ngIf="reviewdetail.isLocdetOuttime==true">
          <ion-icon small name="checkmark-circle" style="color:#4CAF50;float:left;font-size:12px;" icon-start>&nbsp;&nbsp;LOCATION VERIFIED BY GPS</ion-icon>
        </div> -->
        <ion-item no-lines *ngIf="reviewdetail.isLocdetOuttime">
          <div *ngIf="reviewdetail.outTimeMap!=null">
            <!-- <img class="img" [src]="reviewdetail.outTimeMap"> -->
            <img [src]="_DomSanitizer.bypassSecurityTrustUrl(reviewdetail.outTimeMap)"  style=" display: block;
            width: 100%;
            height: 120px;">
          </div>

          <h2>
            <ion-icon small name="checkmark-circle" style="color:#4CAF50;float:left;font-size:14px;" icon-start>&nbsp;&nbsp;LOCATION VERIFIED BY GPS</ion-icon>
          </h2>
        </ion-item>
        <div *ngIf="!reviewdetail.isLocdetOuttime">
          <ion-icon small name="close-circle" style="color:red;float:left;font-size:12px;" icon-start>&nbsp;&nbsp;LOCATION COULD NOT BE VERIFIED BY GPS</ion-icon>
        </div>
      </ion-row>
    </ion-grid>
  </div>
 
</ion-content>
<ion-footer style="padding: 5px">

  <p style="color: grey">If this is correct, please sign and submit your timesheet. Remember, it is a federal crime to submit a fraudalent timesheet.</p>

  <button ion-button color="primary" style="text-transform: none" (click)="submit(reviewdetail)" block>Verify Visit</button>





</ion-footer>