page-recarehistorymonthdetails {
    .org{
        height: 50px;
        width:  50px;
        border-radius: 100%;
        border:3px solid rgb(39, 186, 209);
    }
    .divider
    {
    position: relative;
    margin-top: 80px;
    height: 1px;
    }
    
    .div-transparent:before
    {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
    }
    .circle {
        height: 50px;
        width: 50px;
        // background-color: #90CAF9;
        border-radius: 50%;
        border: 3px solid #42A5F5;
      }
      .letter {
          display:block;
          visibility:hidden;
          margin-top: 5px;
          font-size:25px;
          margin-left:14px;
          color: #42A5F5;
      }
      
      .letter:first-letter {
          visibility:visible;
      }
    
    .div-arrow-down:after
    {
    content: "";
    position: absolute;
    z-index: 1;
    top: -7px;
    left: calc(50% - 7px);
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    background-color: white;
    border-bottom: 1px solid rgb(48,49,51);
    border-right: 1px solid rgb(48,49,51);
    }
    .range-md .range-bar-active {
        bottom: 0;
        width: auto;
        background:linear-gradient(to right, red 30%,yellow 30%,yellow 60% ,green 0);
    }
    
    .range-md .range-bar {
        left: 0;
        top: 21px;
        position: absolute;
        width: 100%;
        height: 3px;
        background: linear-gradient(to right, red 30%,yellow 30%,yellow 60% ,green 0);
        pointer-events: none;
    }
    .range-md .range-knob {
        left: 12px;
        top: 0px;
         border-radius: 0%; 
        position: absolute;
        z-index: 2;
        -webkit-transform: scale(0.67);
        transform: scale(0.67);
        width: 0px;
        height: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 15px solid #488aff;
    }
    
    
    .range-md .range-knob-active {
        left: 12px;
        top: 0px;
        border-radius: 0%; 
        position: absolute;
        z-index: 2;
        -webkit-transform: scale(0.67);
        transform: scale(0.67);
        width: 0px;
        height: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 15px solid #488aff;
    }
    
    .range-md {
       padding: 0;
    }
    
}
