page-forgotpassword {
    .alertred {
        padding: 14px;
        background-color: #FFCDD2;
        color: black;
        margin-top: -4px;
        
    }
    
    .closebtnred {
        margin-left: 15px;
        color: black;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }
    
    .closebtnred:hover {
        color: black;
    }

    @keyframes cssAnimation {
        to {
            width:0;
            height:0;
            overflow:hidden;
        }
    }
    @-webkit-keyframes cssAnimation {
        to {
            width:0;
            height:0;
            visibility:hidden;
        }
    }
}
