page-cgprofilepage {
    #alert {
        background-color: red; 
        border-radius: 100%;
        margin-left:10px;
    }
    .img{
        height: 100px;
        width: 100px;
        border-radius:50%;
    }

.toolbar-title-ios {
  margin-left: -19px;
}
ion-avatar img,
ion-thumbnail img {
  display: inline;
}
.label-ios {
    margin:5px;
}
.label-md{
    margin: 6px;
}
[col-2] {
    padding: 12px;
  }
  
}
